// ==================================
// Variables
// ==================================

// grid

$g-col-width      : 8%;
$g-gutter-width   : 0.33%;
$g-col-count      : 12;
$g-count-max-w    : 100%;

// Breakpoints

$brkpoint-sm   :  1px;
$brkpoint-med  :  768px;
$brkpoint-l    :  1024px;
